 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1 .u-image-1 {
  width: 273px;
  height: 273px;
  margin: 92px auto 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 2.25rem;
  width: 511px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 16px 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.5rem;
  font-weight: 700;
  width: 234px;
  margin: 117px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px auto 60px;
  padding: 10px 86px 10px 85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    width: 471px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 72px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 247px;
    margin-top: 93px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: 211px;
    margin-top: 53px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-image-1 {
    width: 231px;
    height: 231px;
    margin-top: 109px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 253px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 46px;
  }
}